{% extends "base.html" %}
{% block body %}

<div class="row-dirt text-center p-3" style="max-width: 85%; margin: auto;">
  <!-- table with buy button. side note if you want to buy should it redirect to the stock page or pop up a modal-thing -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Ticker Symbol</th>
        <th scope="col">Ticker Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Transaction Type</th>
        <th scope="col">Transaction Time</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.stock.ticker_symbol }}</td>
        <td>{{ transaction.stock.company_name }}</td>
        <td>${{ transaction.price }}</td>
        <td>{{ transaction.quanity }}</td>
        <td>{{ transaction.type }}</td>
        <td>{{ transaction.timestamp }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}