{% extends "base.html" %}
{% block body %}

<div class="row-dirt text-center p-3" style="max-width: 85%; margin: auto;">
  <div class="text-center mt-3" style="max-width: 480px; margin: auto;">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput">Email address</label>
    </div>

    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary mb-3" type="submit">Sign in</button>

    <br>

    <a href="/newacc">
      <button class="w-100 btn btn-lg btn btn-outline-primary mb-3" type="button">New Users click here!</button>
    </a>
</div>







{% endblock %}